<footer>
	<div class="row text-center">
		<ul>
			<div class="md-col-4">
				<li>123 Main Street, Denver CO</li>
				<li>(555) 555-1212</li>
				<li>&copy; 2015 Imagine Create Thrive</li>
				<li><i class="fa fa-twitter"></i><i class="fa fa-facebook"></i><i class="fa fa-google"></i>
			</div>
		</ul>
	</div>
</footer>