<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/page/head.ejs %>
	</head>
	<body class="<%= classname %>">
		<div class="container">
			<% include partials/page/header.ejs %>
			<div class="content">
				<h1><%= title %> Page</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem laborum cum error quae non, temporibus incidunt aperiam, quas eaque similique dolor deserunt dignissimos, nam, sunt possimus ab reiciendis molestiae! Culpa.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sunt magni quia odit, distinctio, rem, debitis, molestiae quod temporibus autem maxime. Harum doloremque explicabo eaque reiciendis nostrum. Molestias, nemo, labore.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae rem ad sapiente nam magni earum cum nihil dignissimos autem error, consequuntur, totam doloribus quo facilis eaque. Nesciunt, error, reprehenderit?</p>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem laborum cum error quae non, temporibus incidunt aperiam, quas eaque similique dolor deserunt dignissimos, nam, sunt possimus ab reiciendis molestiae! Culpa.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sunt magni quia odit, distinctio, rem, debitis, molestiae quod temporibus autem maxime. Harum doloremque explicabo eaque reiciendis nostrum. Molestias, nemo, labore.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae rem ad sapiente nam magni earum cum nihil dignissimos autem error, consequuntur, totam doloribus quo facilis eaque. Nesciunt, error, reprehenderit?</p>
			</div> <!-- content class end -->
			<% include partials/page/dynamic-insert.ejs %>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem laborum cum error quae non, temporibus incidunt aperiam, quas eaque similique dolor deserunt dignissimos, nam, sunt possimus ab reiciendis molestiae! Culpa.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sunt magni quia odit, distinctio, rem, debitis, molestiae quod temporibus autem maxime. Harum doloremque explicabo eaque reiciendis nostrum. Molestias, nemo, labore.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae rem ad sapiente nam magni earum cum nihil dignissimos autem error, consequuntur, totam doloribus quo facilis eaque. Nesciunt, error, reprehenderit?</p>
			</div><!--content class end -->
		</div><!-- container class end -->
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefaults.ejs %>
		<script src="javascripts/javascript.js"></script>
	</body>
</html>