body {
  width: 90%;
  margin: 20px auto;
  background-color: lightBlue;
  font-size: 2em;
  font-family: san-serif;
}

#generatorFunction {
  text-shadow: 1px 1px white;
  width: 30%;
  margin: 0 auto;
}