<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<section>
			<header>
				<% include ../partials/header.ejs %>
			</header>
			<div class="content">
				<% include ../insert/landing.ejs %>
			</div>
			<div class="clearfix"></div>
			<footer>
				<%  include ../partials/footer.ejs %>
			</footer>
			<% include ../partials/jsdefaults.ejs %>
		</section>
	</body>
</html>