<hr id="footer-seperator">
<div class="row">
	<a href="http://www.facebook.com"><i  class="fa fa-facebook">&nbsp;</i></a>
	<a href="http://www.twitter.com"><i class="fa fa-twitter">&nbsp;</i></a>
	<span>2016 Jeffrey Sanford</span>
	<a href="http://www.google.com"><i class="fa fa-google">&nbsp;</i></a>
	<a href="mailto:jeffrey_sanford@hotmail.com"><i class="fa fa-envelope"></i></i></a>
</div>