<div id="header-wrapper">
	<div class="row header-style">
		<div class="col-md-8" id="header-column-left">
			<h1>Project Forms</h1>
			<p>Jeffrey Sanford</p>
		</div> <!--end column left -->

		<div class="col-md-4" id="header-column-right">
			<p><%= title %> Page</p>
			
			<div class="row social">
				<a href="http://www.facebook.com"><i  class="fa fa-facebook">&nbsp;</i></a>
				<a href="http://www.twitter.com"><i class="fa fa-twitter">&nbsp;</i></a>
				<a href="http://www.google.com"><i class="fa fa-google"></i></a>
			</div>		

			<div id="reports-button">
				<a href='<%= nextPageUrl %>'>
					<button><%= nextPage %></button>
				</a>
			</div>
		</div><!-- end right colunn --> 
	</div><!-- end row  -->
</div> <!-- end header wrapper -->