<% if (title === 'Landing') { %>
	<% console.log("users array triggered.")%>
	<div class="array-insert">
		<div class="row row-center">
			<ul>
				<% for (key in usersObject) { %>
					<div class="col-lg-3 col-md-3 col-sm-4 text-center">
						<li>
							<img src="http://placehold.it/200x200">
							<p class="text-center"><%= usersObject[key].name %></p>
						</li>
					</div> <!--col class end -->
				<% } %>
			</ul>
		</div> <!-- row class end -->
	</div> <!--array-insert class end -->
<% } else if (typeof(productsArray) !== 'undefined') { %>
	<% console.log("products array trigged.")%>
	<div class="array-insert">
		<div class="row row-center">
			<ul>
				<% for (var i = 0; i<productsArray.length; i++) { %>
				<div class="col-lg-3 col-md-3 col-sm-4 text-center">
					<li>
						<img src="http://placehold.it/200x200">
						<p class="text-center"><%= productsArray[i] %></p>
					</li>
				</div>
				<% } %>
			</ul>
		</div> <!--row class end -->
	</div> <!--array-insert class end -->
<% } %>
