<footer>
	<div>
		<ul>
			<li>123 Main Street, Denver CO</li>
			<li>(555) 555-1212</li>
			<li>&copy; 2015 Imagine Create Thrive</li>
			<li>
				<a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
				<a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
				<a href="http://www.google.com"><i class="fa fa-google"></i></a>
			</li>
		</ul>
	</div>
</footer>