<header>
	<div id="brand">
		<img src="images/raven_in_moonlight.png" style="float:left">
		<p style="float:left">Raven<br>Wood<br>Studios</p>
	</div>

	<div id="top-nav">
		<ul>
			<li>
				<a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
				<a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
				<a href="http://www.google.com"><i class="fa fa-google"></i></a>
			<br>
			<a href="/"><li>landing</li></a>
			<a href="products"><li>products</li></a>
			<a href="about"><li>about</li></a>
		</ul>
	</div>
	<div class="clearfix"></div>
</header>