<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

</head>
<body>
	<% console.log("Survey Data in Text Format" + surveyData); %>
	<% console.log("Made it to the Records Page"); %>
	<h1>Display All Records in Database</h1>
	<% for (var i = 0; i<surveyData.length; i++) { %>
	<p>Name: <%= surveyData[i].name %>	
	<p>e-mail address: <%= surveyData[i].mail %>
	<p>Comments: <%= surveyData[i].comments %>
	<% } %>
	<p>Data End</p>
</body>
</html>