/* Styles for Advanced Menu */

.advanced-nav li a {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.icon {
    flex: 0 0 1.5em;
    font-size: 1em;
}

.button-text {
    font-size: 1em;
}

.button-text span {
    display: block;
    font-size: 60%;
    font-weight: lighter;
    font-style: italic;
}

@media screen and (min-width: 842px) {
    
    .advanced-nav ul {
        display: flex;
        justify-content: left;
    }
    
    .advanced-nav li {
        display: flex;
    }
    
}