body {
	width: 90%;
	margin: 0 auto;
	background-color: whiteSmoke;
	font-family: 'Helvetica Neue';
}

h1 {
	font-size: 1.8em;
}

/*  Styling for menus */

ul {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	background-color: black;
	width: 100%;
}

li {
	font-family: sans-serif;
	font-size: 2em;
	padding: .5em 1em;
	color: white;
}

a {
	text-decoration: none;

}

a:link {
	color: green;
}

a:visited {
	color: white;
}

a:hover{
	color: blue;
}

p {
	font-family: 'Helvetica Neue';
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 28.6px;
}