/*  Page defaults */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	margin: 20px auto;
	width: 90%;
	background-color: whiteSmoke;

}

nav {
	color: white;
}

a {
	text-decoration: none;
}


