<div id="header-wrapper">
	<div class="row header-style">
		<div class="col-md-8">
			<h1>Project Forms</h1>
			<p>Jeffrey Sanford</p>
		</div>
		<div class="col-md-4" style="text-align: right">
			<p><%= title %> Page</p>
			<p id="current-page" Sample Quality Form</p>
		<div id="reports-button">
			<a href='<%= nextPageUrl %>'>
				<button><%= nextPage %></button>
			</a>
		</div>
	</div>
</div>